# Dimensionality Reduction

In [1]:
# Import Libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import os

In [2]:
# Load Data Set 
os.chdir('C:\\Users\\nikhil reddy\\Downloads\\Day20\\Day20\\')
df = pd.read_csv('trans_us.csv', index_col = 0, thousands  = ',')
df

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007
"TB prevalence, all forms (per 100 000 population per year)",,,,,,,,,,,,,,,,,,
Afghanistan,436,429,422,415,407,397,397,387,374,373,346,326,304,308,283,267,251,238
Albania,42,40,41,42,42,43,42,44,43,42,40,34,32,32,29,29,26,22
Algeria,45,44,44,43,43,42,43,44,45,46,48,49,50,51,52,53,55,56
American Samoa,42,14,4,18,17,22,0,25,12,8,8,6,5,6,9,11,9,5
Andorra,39,37,35,33,32,30,28,23,24,22,20,20,21,18,19,18,17,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis et Futuna,126,352,64,174,172,93,123,213,107,105,103,13,275,147,63,57,60,25
West Bank and Gaza,55,54,54,52,52,50,49,46,44,42,40,39,37,36,35,33,32,31
Yemen,265,261,263,253,250,244,233,207,194,175,164,154,149,146,138,137,135,130
Zambia,436,456,494,526,556,585,602,626,634,657,658,680,517,478,468,453,422,387
Zimbabwe,409,417,415,419,426,439,453,481,392,430,479,523,571,632,652,680,699,714

In [3]:
# Update Row and Column Headings 
df.index.names = ['stations']
df.columns.names = ['Years']
df

Years,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007
stations,,,,,,,,,,,,,,,,,,
Afghanistan,436,429,422,415,407,397,397,387,374,373,346,326,304,308,283,267,251,238
Albania,42,40,41,42,42,43,42,44,43,42,40,34,32,32,29,29,26,22
Algeria,45,44,44,43,43,42,43,44,45,46,48,49,50,51,52,53,55,56
American Samoa,42,14,4,18,17,22,0,25,12,8,8,6,5,6,9,11,9,5
Andorra,39,37,35,33,32,30,28,23,24,22,20,20,21,18,19,18,17,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis et Futuna,126,352,64,174,172,93,123,213,107,105,103,13,275,147,63,57,60,25
West Bank and Gaza,55,54,54,52,52,50,49,46,44,42,40,39,37,36,35,33,32,31
Yemen,265,261,263,253,250,244,233,207,194,175,164,154,149,146,138,137,135,130
Zambia,436,456,494,526,556,585,602,626,634,657,658,680,517,478,468,453,422,387
Zimbabwe,409,417,415,419,426,439,453,481,392,430,479,523,571,632,652,680,699,714

In [4]:
# Check for Null Values 
df.isna().sum()

Years
1990    0
1991    0
1992    0
1993    0
1994    0
1995    0
1996    0
1997    0
1998    0
1999    0
2000    0
2001    0
2002    0
2003    0
2004    0
2005    0
2006    0
2007    0
dtype: int64

In [5]:
# Create Model 
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
pca.fit(df)

PCA(n_components=2)

In [6]:
# Create PCA  with two variables 
PCA1 = pca.transform(df)
PCA1

array([[ 7.32215864e+02,  2.03381494e+02],
       [-6.13296510e+02,  4.71597812e+00],
       [-5.69303713e+02, -3.68370510e+01],
       [-7.17082766e+02,  5.46469555e+00],
       [-6.61802241e+02,  1.10377364e+01],
       [ 9.90536338e+02,  2.94243725e+02],
       [-6.18891169e+02, -1.45029279e+01],
       [-7.23656796e+02, -5.37125754e+00],
       [-5.08244158e+02,  6.10397004e+01],
       [-4.54552060e+02, -7.89863744e+01],
       [-7.42575408e+02, -1.37488238e+01],
       [-7.15906806e+02, -5.96921991e+00],
       [-4.10215266e+02, -8.35107570e+01],
       [-5.53237930e+02, -1.37877397e+01],
       [-4.43480516e+02,  7.75855551e+01],
       [ 1.42280060e+03,  2.42722083e+02],
       [-7.47393482e+02, -9.33538066e+00],
       [-4.32631571e+02, -3.96933543e+01],
       [-7.15779552e+02, -8.73209243e+00],
       [-5.65111003e+02,  1.40605932e+01],
       [-2.08237408e+02, -3.16580516e+01],
       [-7.38452782e+02, -1.01653102e+01],
       [ 1.74270925e+03,  5.69448954e+02],
       [ 3.69739970e+02,  1.92500210e+02],
       [-3.37633139e+02,  1.42997336e+02],
       [ 1.12462371e+03, -5.03640618e+02],
       [-3.94477560e+02,  6.05132361e+01],
       [-6.79056460e+02,  2.31749240e+00],
       [-4.18462708e+02,  1.77113612e+01],
       [-5.44874902e+02, -6.04377992e+00],
       [ 5.36374072e+02, -4.08919486e+02],
       [ 1.12581470e+03, -6.55801897e+02],
       [ 2.53895326e+03,  2.23864004e+02],
       [ 1.20281096e+02, -7.89435083e+01],
       [-7.48125458e+02, -1.10628613e+01],
       [ 8.14529926e+02,  1.36122326e+02],
       [-7.39387791e+02, -9.10477201e+00],
       [ 1.00371774e+03, -3.55104319e+02],
       [ 9.40992223e+02, -4.72269062e+02],
       [-6.62228202e+02,  2.17631559e+01],
       [ 3.76487336e+02,  1.21359175e+02],
       [-4.91294650e+02,  3.06722462e+01],
       [-2.22702045e+02,  9.65403465e+01],
       [ 8.03678138e+02, -4.53276487e+02],
       [-6.84975871e+02,  8.04587168e-01],
       [-6.87115904e+02,  9.09193465e+00],
       [-3.82173929e+02,  7.29101163e+01],
       [-6.99469036e+02,  1.36940360e+01],
       [-7.31203770e+02, -4.77615423e+00],
       [-6.98079517e+02,  2.35492769e+00],
       [ 1.08128425e+03, -5.84003605e+02],
       [ 2.14662330e+03,  4.38945977e+02],
       [ 1.41394336e+03, -7.16079455e+02],
       [-7.34123360e+02, -8.45021851e+00],
       [ 3.79844745e+03,  5.78975277e+02],
       [-6.81341369e+02, -9.55855732e+00],
       [-2.36204726e+02,  9.95511981e+01],
       [ 1.00474079e+02,  1.41868942e+02],
       [-6.04766469e+02,  1.28691404e+01],
       [-4.17182352e+02,  8.72954498e+01],
       [ 4.71741213e+02, -4.64509893e+02],
       [-1.58886444e+01,  1.89401997e+02],
       [-4.86642717e+02,  2.54731454e+00],
       [ 1.20676696e+03, -4.98349953e+02],
       [-5.77491692e+02,  3.25905302e+01],
       [-7.33692864e+02, -5.92081036e+00],
       [-7.07586764e+02, -3.69453935e+00],
       [-5.38327109e+02,  6.50595795e+01],
       [ 6.29550843e+02, -5.37778688e+01],
       [ 8.05597013e+02, -1.39045983e+02],
       [-4.42010975e+02, -8.42915618e+01],
       [-7.27213838e+02, -1.37558735e+00],
       [ 9.74039774e+02,  1.80201039e+02],
       [-6.79908327e+02,  5.79359915e-01],
       [-7.40505112e+02, -1.53978103e+01],
       [-4.52086993e+02,  9.74864047e+01],
       [-3.64616318e+02,  1.08532659e+01],
       [ 6.02804017e+02, -3.15871822e+02],
       [ 6.94477966e+02,  1.63727958e+02],
       [-3.92504493e+02, -1.77453326e+02],
       [ 9.82444182e+02,  7.91126417e+01],
       [-3.54002482e+02,  7.91741779e+01],
       [-5.50051871e+02,  5.90695905e+01],
       [-7.56172711e+02, -1.25283935e+01],
       [ 1.14680934e+03,  3.63270389e+02],
       [ 6.80063317e+02,  2.04213203e+02],
       [-5.83649125e+02,  2.07002502e+01],
       [-4.31921220e+02,  4.59885976e+00],
       [-7.14607224e+02, -4.60158552e+00],
       [-7.37250735e+02, -9.44625836e+00],
       [-7.37016263e+02, -9.54423459e+00],
       [-7.36272078e+02, -1.11749427e+01],
       [-5.75471511e+02,  2.24524381e+01],
       [-7.14081886e+02, -2.78621892e-01],
       [-2.44686480e+02, -1.33007050e+02],
       [ 4.20499996e+02, -4.57079900e+02],
       [ 2.23480979e+03,  8.64494075e+02],
       [-5.49008743e+02,  7.33167037e+01],
       [-2.20322160e+02, -1.06038708e+02],
       [ 7.56753277e+02,  1.41211733e+02],
       [-4.53848877e+02, -3.21127267e+01],
       [-5.84210391e+02,  5.28630331e+01],
       [ 6.46907945e+02, -4.35160876e+02],
       [ 1.04940505e+03,  5.15035986e+01],
       [-6.37258610e+02,  2.87581701e+01],
       [-4.01439814e+02, -1.57894987e+01],
       [-7.14692522e+02, -4.30042542e+00],
       [ 8.06433530e+02, -1.04238845e+02],
       [ 7.12787298e+02, -9.15041646e+00],
       [-1.54337212e+02,  2.33163754e+01],
       [-3.81730962e+02,  6.03440578e+01],
       [ 1.73225790e+03, -2.81978468e+01],
       [-7.41488223e+02, -9.33725742e+00],
       [ 1.74666613e+03, -5.15406769e+01],
       [-5.77529300e+02,  2.11933337e+00],
       [-5.36601261e+02,  7.93611341e+01],
       [ 7.15335576e+01,  1.70444224e+02],
       [-7.59525361e+02, -1.33128200e+01],
       [ 6.86839037e+02,  3.63722971e+02],
       [-7.16398537e+02, -1.13423834e+01],
       [-3.26828407e+02,  4.37306031e+01],
       [ 1.10134920e+03, -4.53094988e+02],
       [ 4.30463289e+02,  3.28773530e+02],
       [ 1.60172010e+03,  1.05968321e+02],
       [-9.20249516e+01,  2.34603452e+02],
       [ 9.86570652e+02,  5.25624757e+02],
       [-7.37250735e+02, -9.44625836e+00],
       [-6.85794345e+02, -1.90404483e-01],
       [-5.09920839e+02,  9.06715937e+01],
       [-7.28548793e+02, -1.46948783e+01],
       [-3.64488251e+02,  7.97604765e+01],
       [ 4.94113170e+02,  1.40958356e+01],
       [ 1.09570380e+03, -4.79384371e+02],
       [-4.15734978e+02,  8.83624615e+01],
       [-5.86471932e+01,  1.90613392e+02],
       [-7.45515028e+02, -1.00359311e+01],
       [-6.89165040e+02,  1.20796774e+01],
       [ 8.53890137e+02,  1.52554099e+02],
       [-2.36360189e+02,  1.09643927e+02],
       [-5.16562737e+02,  2.38612798e+01],
       [ 1.26781312e+03,  5.72821582e+00],
       [-4.02426451e+02, -8.00699859e+00],
       [ 2.64545445e+02,  2.73456370e+02],
       [ 1.97170234e+03,  3.37221038e+02],
       [-5.17304449e+02,  7.25505230e+01],
       [-6.09760971e+02,  1.46343922e+01],
       [-7.20978275e+02,  3.72590357e+00],
       [-4.45609734e+02, -2.06862957e+01],
       [-2.09571479e+02,  6.34820058e+01],
       [-1.21385724e+02, -1.27134192e+02],
       [-9.21552021e+01, -7.34545780e+01],
       [-2.65040054e+02, -1.19987313e+02],
       [ 9.16046249e+02, -6.97205894e+02],
       [-7.08715480e+02, -1.12522546e+01],
       [-6.82010832e+02, -4.60677562e+00],
       [-6.02640255e+02, -4.96529564e+00],
       [-6.36335973e+02, -4.76762112e+00],
       [-7.42009194e+02, -1.04074679e+01],
       [ 4.41396872e+02,  7.33418797e+01],
       [-4.94961703e+02, -1.88877464e+01],
       [ 9.75340921e+02, -1.98134416e+02],
       [-4.49440107e+02,  6.33062845e+01],
       [ 1.98628372e+03, -7.11011060e+02],
       [-5.92589355e+02,  1.90647969e+01],
       [-6.03550388e+02,  3.92320827e+01],
       [-6.17048901e+02,  5.17849650e+01],
       [ 8.09277671e+02,  5.30292939e+02],
       [ 1.15564363e+03,  3.24688499e+02],
       [ 1.78505610e+03, -1.09857000e+02],
       [-6.39083826e+02,  8.16729348e+00],
       [-3.69976787e+02,  8.55136551e+00],
       [ 8.93580534e+02, -1.53279114e+01],
       [-3.06699879e+02, -1.07605885e+02],
       [ 1.92412015e+03, -5.65553334e+02],
       [-7.50538270e+02, -1.33576304e+01],
       [-7.34485066e+02, -4.56583036e+00],
       [-5.35090261e+02,  7.35628070e+01],
       [ 3.62871162e+01, -3.09416265e+02],
       [ 2.80993423e+02,  1.74982909e+02],
       [-5.07156160e+02,  7.11975212e+01],
       [ 1.61836480e+03,  4.28244340e+02],
       [ 2.08265364e+03, -1.81824054e+02],
       [-4.61414595e+02,  1.67528406e+02],
       [-6.09369034e+02, -3.62256860e+00],
       [-7.03442301e+02, -1.39520607e+01],
       [-6.07890704e+02,  2.19309370e+01],
       [-5.27535546e+02,  4.08869792e+01],
       [-3.32294227e+02, -2.55115040e+01],
       [-6.54673434e+02,  1.23293100e+01],
       [ 1.07531681e+03,  3.66666171e+02],
       [ 8.88983117e+02, -2.67157397e+02],
       [-3.54211335e+02, -1.14475972e+02],
       [-6.33122426e+02,  1.13486923e+01],
       [-7.29196030e+02, -1.80524493e+01],
       [ 5.67051224e+02, -2.63272090e+02],
       [-6.82788717e+02, -4.02709745e-01],
       [-7.49043141e+02, -9.32669346e+00],
       [-6.50562152e+02, -3.48497987e+00],
       [-2.25199259e+02, -8.90276064e+01],
       [ 2.42766298e+01,  2.15986701e+02],
       [-5.96326691e+02, -1.05241926e+01],
       [ 4.35560208e+02,  1.84324374e+02],
       [-2.31395787e+02,  1.23076993e+02],
       [-5.85225414e+02,  1.44634818e+01],
       [ 5.92563106e+01,  1.77536948e+02],
       [ 1.48831801e+03, -1.52466860e+01],
       [ 1.39878566e+03, -4.82430628e+02]])

In [7]:
# Convert output to Data Frame 
PCA2= pd.DataFrame(PCA1)
PCA2.index = df.index
PCA2.columns = ['PC1','PC2']
PCA2.head(50)

                                  PC1         PC2
stations
Afghanistan                732.215864  203.381494
Albania                   -613.296510    4.715978
Algeria                   -569.303713  -36.837051
American Samoa            -717.082766    5.464696
Andorra                   -661.802241   11.037736
Angola                     990.536338  294.243725
Anguilla                  -618.891169  -14.502928
Antigua and Barbuda       -723.656796   -5.371258
Argentina                 -508.244158   61.039700
Armenia                   -454.552060  -78.986374
Australia                 -742.575408  -13.748824
Austria                   -715.906806   -5.969220
Azerbaijan                -410.215266  -83.510757
Bahamas                   -553.237930  -13.787740
Bahrain                   -443.480516   77.585555
Bangladesh                1422.800603  242.722083
Barbados                  -747.393482   -9.335381
Belarus                   -432.631571  -39.693354
Belgium                   -715.779552   -8.732092
Belize                    -565.111003   14.060593
Benin                     -208.237408  -31.658052
Bermuda                   -738.452782  -10.165310
Bhutan                    1742.709249  569.448954
Bolivia                    369.739970  192.500210
Bosnia and Herzegovina    -337.633139  142.997336
Botswana                  1124.623706 -503.640618
Brazil                    -394.477560   60.513236
British Virgin Islands    -679.056460    2.317492
Brunei Darussalam         -418.462708   17.711361
Bulgaria                  -544.874902   -6.043780
Burkina Faso               536.374072 -408.919486
Burundi                   1125.814696 -655.801897
Cambodia                  2538.953258  223.864004
Cameroon                   120.281096  -78.943508
Canada                    -748.125458  -11.062861
Cape Verde                 814.529926  136.122326
Cayman Islands            -739.387791   -9.104772
Central African Republic  1003.717739 -355.104319
Chad                       940.992223 -472.269062
Chile                     -662.228202   21.763156
China                      376.487336  121.359175
Colombia                  -491.294650   30.672246
Comoros                   -222.702045   96.540347
Congo, Rep.                803.678138 -453.276487
Cook Islands              -684.975871    0.804587
Costa Rica                -687.115904    9.091935
Croatia                   -382.173929   72.910116
Cuba                      -699.469036   13.694036
Cyprus                    -731.203770   -4.776154
Czech Republic            -698.079517    2.354928

In [8]:
# Display the variance Percentage  
pca.explained_variance_ratio_

array([0.91808789, 0.060556  ])

# Dimensionality Reduction (Bank Data)

In [10]:
os.chdir ('C:\\Users\\nikhil reddy\\Downloads\\Day20\\Day20\\')
df= pd.read_csv('Bank Data Dimension Reduction.csv')
df

     Index  Interest_Rate  Credit  Gender  Previous  Duration Churn
0        0        17546.0       1     0.0       0.0      48.0    NO
1        1        30085.1       3     1.0       1.0      40.0   YES
2        2        16575.4       0     0.0       1.0      51.0   YES
3        3        20375.4       3     0.0       0.0      23.0   YES
4        4        50576.3       0     0.0       0.0      57.0    NO
..     ...            ...     ...     ...       ...       ...   ...
595    595        47025.0       2     0.0       1.0       NaN   YES
596    596         9672.3       0     0.0       1.0       NaN   YES
597    597        15976.3       0     0.0       1.0       NaN    NO
598    598        14711.8       0     1.0       0.0      29.0    NO
599    599        26671.6       0     1.0       1.0      38.0   YES

[600 rows x 7 columns]

In [12]:
# Data Checks 
df.isna().sum()

Index             0
Interest_Rate    68
Credit            0
Gender           21
Previous          7
Duration         70
Churn             0
dtype: int64

In [13]:
df.notna().sum()

Index            600
Interest_Rate    532
Credit           600
Gender           579
Previous         593
Duration         530
Churn            600
dtype: int64

In [14]:
# Data Types 
df.dtypes

Index              int64
Interest_Rate    float64
Credit             int64
Gender           float64
Previous         float64
Duration         float64
Churn             object
dtype: object

In [15]:
df.groupby('Gender').size()

Gender
0.0    290
1.0    289
dtype: int64

In [16]:
df['Gender'] = df['Gender'].fillna(0)
df.groupby('Gender').size()

Gender
0.0    311
1.0    289
dtype: int64

In [17]:
df.groupby('Previous').size()
df['Previous'] = df['Previous'].fillna(0)

In [18]:
df['Interest_Rate'].fillna(df['Interest_Rate'].mean(),inplace = True)

In [19]:
df['Duration'].fillna(df['Duration'].median(),inplace = True)

In [20]:
df['Gender'] = df['Gender']. astype('category')
df.dtypes

Index               int64
Interest_Rate     float64
Credit              int64
Gender           category
Previous          float64
Duration          float64
Churn              object
dtype: object

In [22]:
df['Previous'] = df['Previous']. astype('category')
df.dtypes

Index               int64
Interest_Rate     float64
Credit              int64
Gender           category
Previous         category
Duration          float64
Churn              object
dtype: object

In [23]:
df.dtypes
df['Churn'] = df['Churn']. astype('category')
df['Churn'] = df['Churn'].cat.codes

In [24]:
x = df.iloc[:,1:6].values
x

array([[1.75460e+04, 1.00000e+00, 0.00000e+00, 0.00000e+00, 4.80000e+01],
       [3.00851e+04, 3.00000e+00, 1.00000e+00, 1.00000e+00, 4.00000e+01],
       [1.65754e+04, 0.00000e+00, 0.00000e+00, 1.00000e+00, 5.10000e+01],
       ...,
       [1.59763e+04, 0.00000e+00, 0.00000e+00, 1.00000e+00, 4.30000e+01],
       [1.47118e+04, 0.00000e+00, 1.00000e+00, 0.00000e+00, 2.90000e+01],
       [2.66716e+04, 0.00000e+00, 1.00000e+00, 1.00000e+00, 3.80000e+01]])

In [25]:
y = df.iloc[:,6].values
y

array([0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 1], dtype=int8)

In [26]:
from sklearn.preprocessing import StandardScaler
sc_x= StandardScaler()
x = sc_x.fit_transform(x)
x

array([[-0.83481117, -0.01104933, -0.96398156, -0.97043679,  0.39357468],
       [ 0.20322955,  1.88312118,  1.03736424,  1.03046381, -0.19900953],
       [-0.91516162, -0.95813458, -0.96398156,  1.03046381,  0.61579376],
       ...,
       [-0.9647577 , -0.95813458, -0.96398156,  1.03046381,  0.02320955],
       [-1.06943845, -0.95813458,  1.03736424, -0.97043679, -1.01381282],
       [-0.07935469, -0.95813458,  1.03736424,  1.03046381, -0.34715558]])

In [27]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train,y_test = train_test_split(x,y,test_size=0.2)

In [28]:
# Display X Train as Data Frame 
pd.DataFrame(x_train)

                0         1         2         3         4
0    7.000182e-01  0.936036  1.037364 -0.970437  1.504670
1   -5.707127e-01 -0.011049  1.037364  1.030464 -0.050863
2   -4.250537e-01 -0.958135  1.037364 -0.970437 -0.050863
3    5.790786e-01 -0.958135 -0.963982  1.030464  1.504670
4   -5.170519e-01 -0.958135  1.037364 -0.970437 -1.236032
..            ...       ...       ...       ...       ...
475  2.108173e-15  0.936036  1.037364  1.030464 -0.643448
476 -7.554790e-01 -0.958135 -0.963982  1.030464  0.023210
477 -8.348112e-01 -0.011049 -0.963982 -0.970437  0.393575
478 -1.925457e-01  0.936036 -0.963982  1.030464  0.023210
479 -9.231006e-01 -0.958135  1.037364  1.030464 -0.569375

[480 rows x 5 columns]

Apply PCA model in x_train and x_test 
 n_components = None ( Maximum Slicing , Slicing based on number of variable in this case maximum slicing is 5 â€“ Number of Independent variables)

In [29]:
from sklearn.decomposition import PCA
pca = PCA(n_components = None)
x_train = pca.fit_transform( x_train)
x_test = pca.transform(x_test)

In [30]:
# Display X Train as Data Frame 
pd.DataFrame(x_train)

            0         1         2         3         4
0    1.252791 -0.271759 -0.395380  1.834003 -0.646214
1   -0.284596 -0.915802  1.129052 -0.116708 -0.480384
2   -0.771602 -1.187579 -0.929955  0.453482 -0.265615
3    1.647773 -0.107198 -0.356557 -1.545474 -0.568514
4   -1.639782 -1.107792 -0.671480  0.373080  0.495772
..        ...       ...       ...       ...       ...
475 -0.198742 -0.376691  1.682696  0.494933  0.291109
476 -0.262474  0.110213  0.099679 -1.798721 -0.483822
477 -0.444337  0.955435 -1.028932 -0.085979 -0.782681
478  0.323835  1.173343  1.021691 -0.579011 -0.178906
479 -0.978329 -1.409500  0.784477 -0.765581 -0.321542

[480 rows x 5 columns]

In [31]:
# PCA Percentage
pca.explained_variance_ratio_

array([0.35929426, 0.20421718, 0.18969834, 0.18414304, 0.06264718])